# Ignorar arquivos de banco H2 e diretório data
data/
*.mv.db
*.h2.db
*.trace.db

# Ignorar arquivos de variáveis de ambiente
.env

# Temporary files created by recreate-h2-db scripts
recreate-db-temp.properties

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.vscode/
*.iml
.idea/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*.bak
*.backup
