body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f8fc;
    color: #333;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #4B0082; /* Roxo escuro */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.cabecalho .titulo h1 {
    margin: 0;
    font-size: 22px;
}

.cabecalho .titulo h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.cabecalho .logo img {
    height: 35px;
}

.cabecalho .info-usuario p {
    margin: 0;
}

.form-container {
    max-width: 400px;
    background: white;
    margin: 30px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-top: 12px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4B0082;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #360061;
}

.mensagem-erro {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;    
}

.mensagem-sucesso {
    color: green;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
  display: none;
}

.mensagem-verde {
    color: green;
    font-weight: bold;
}
.mensagem-vermelha {
    color: red;
    font-weight: bold;
}
.status-centralizado {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1em;
}

