<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Alterar Senha</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
  </head>

  <body>
    <header class="cabecalho">
      <div class="titulo">
        <h1>Agenda Mais</h1>
        <h3>Agendando tudo e mais</h3>
      </div>
      <div class="logo">
        <img src="/images/logo-mistico.svg" alt="Logo" style="height: 40px" />
      </div>
    </header>

    <div class="form-container">
      <h2>Alterar Senha</h2>
      <form th:action="@{/alterar-senha}" method="post">
        <label>Código de Usuário ou Email:</label>
        <input
          type="text"
          name="username"
          th:value="${username}"
          required
          minlength="4"
          maxlength="30"
          pattern="^[a-zA-Z0-9]+$"
        />

        <label>Senha Atual:</label>
        <div class="password-container">
          <input
            type="password"
            id="currentPassword"
            name="currentPassword"
            required
          />
          <span class="toggle-password" onclick="togglePassword(this)">👁️</span>
        </div>

        <label>Nova Senha:</label>
        <div class="password-container">
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            th:value="${newPassword}"
            required
          />
          <span class="toggle-password" onclick="togglePassword(this)">👁️</span>
        </div>

        <label>Confirmar Nova Senha:</label>
        <div class="password-container">
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            th:value="${confirmPassword}"
            required
          />
          <span class="toggle-password" onclick="togglePassword(this)">👁️</span>
        </div>

        <button type="submit">Confirmar Alteração</button>
      </form>

      <p
        th:if="${mensagemErro}"
        th:text="${mensagemErro}"
        class="mensagem-erro"
      ></p>
      <p
        th:if="${mensagemSucesso}"
        th:text="${mensagemSucesso}"
        class="mensagem-sucesso"
      ></p>

      <div style="text-align: center; margin-top: 10px">
        <a href="/acesso"><button type="button">Voltar ao Login</button></a>
      </div>
    </div>

    <script>
      function togglePassword(el) {
        const input = el.previousElementSibling;
        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
      }
    </script>
  </body>
</html>
