<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
    <header class="cabecalho-centro">
        <h1>Agenda Mais</h1>
        <h2>Agendando tudo e mais</h2>
    </header>

    <main>
        <h3>Cadastro de Novo Usuário</h3>
        <form action="/cadastro" method="post">
            <!-- Campos do formulário -->
            <label for="codUsuario">Usuário:</label>
            <input type="text" id="codUsuario" name="codUsuario" required><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required><br>

            <!-- Outros campos para Pessoa e Instituições -->

            <button type="submit">Cadastrar</button>
        </form>

        <p><a href="/login">Já tem cadastro? Faça login</a></p>
    </main>
</body>
</html>
