<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Acesso por Email</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<header class="cabecalho">
    <div class="titulo">
        <h1>Agenda Mais</h1>
        <h3>Recuperar Acesso</h3>
    </div>
</header>

<div class="form-container">
    <h2>Informe seu Email</h2>

    <!-- Mensagem de erro -->
    <p th:if="${mensagemErro}" th:text="${mensagemErro}" class="mensagem-erro"></p>
    <p th:if="${mensagemSucesso}" th:text="${mensagemSucesso}" class="mensagem-sucesso"></p>


    <!-- Formulário -->
    <form th:action="@{/login/recuperar-login-email}" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="seu@email.com"
               th:value="${email}" required/>
        <button type="submit" style="margin-top:15px;">Confirmar</button>
    </form>

    <!-- Voltar -->
    <div style="margin-top:20px;">
        <a href="/login"><button type="button">Voltar ao Login</button></a>
    </div>
</div>
</body>
</html>
