<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recuperar Senha</title>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>

<body>
  <header class="cabecalho">
    <div class="titulo">
      <h1>Agenda Mais</h1>
      <h3>Agendando tudo e mais</h3>
    </div>
    <div class="logo">
      <img src="/images/logo-mistico.svg" alt="Logo" style="height:40px;">
    </div>
  </header>
  
  <div class="form-container">
    <h2>Recuperar Senha</h2>
    <form th:action="@{/recuperar-senha}" method="post">
      <label>Código do Usuário:</label>
      <input type="text" name="codUsuario" th:value="${codUsuario}" required minlength="6" maxlength="30" pattern="^[a-zA-Z0-9]+$"/>

      <label>Nova Senha:</label>
	  <div class="senha-container">
	       <input type="password" id="novaSenhaRec" name="novaSenha" th:value="${novaSenha}" required/>
	       <span onclick="toggleSenha('novaSenhaRec')" class="olho">&#128065;</span>
	  </div>

      <label>Confirmar Nova Senha:</label>
      <div class="senha-container">
     	   <input type="password" id="confirmarSenhaRec" name="confirmarSenha" required/>
	       <span onclick="toggleSenha('confirmarSenhaRec')" class="olho">&#128065;</span>      </div>
       
      <div> 
         <button type="submit">Redefinir Senha</button>
      </div>
    </form>
    <p th:if="${mensagem}" th:text="${mensagem}" class="mensagem"></p>
    
	<div style="text-align:center; margin-top:10px;">
	  <a href="/login"><button type="button">Voltar ao Login</button></a>
	</div>
    
  </div>
  
<script>
function toggleSenha(idCampo) {
  var input = document.getElementById(idCampo);
  if (input.type === "password") {
    input.type = "text";
  } else {
    input.type = "password";
  }
}
</script>
  
</body>
</html>
