<div
  th:replace="fragments/botao_retornar_menu :: botao-retornar-menu('/')"
></div>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Menu - Participante</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- CABECALHO PADRAO -->
    <div th:replace="~{fragments/layout_cabecalho :: cabecalho}"></div>

    <main class="main-content">
      <h2>
        Bem-vindo!<br />Participe de nossas atividades inscrevendo-se em Tipos
        de Atividades:
      </h2>

      <!-- Mensagens -->
      <p
        th:if="${mensagemErro}"
        th:text="${mensagemErro}"
        class="mensagem-erro"
      ></p>
      <p
        th:if="${mensagemSucesso}"
        th:text="${mensagemSucesso}"
        class="mensagem-sucesso"
      ></p>

      <ul>
        <!-- Dados Pessoais -->
        <h3 style="margin-top: 30px; margin-bottom: 10px">
          <i class="fas fa-user"></i> Perfil
        </h3>

        <li style="margin: 1px 0; list-style: none">&nbsp;</li>

        <li>
          <a href="/meus-dados"><i class="fas fa-user-edit"></i> Meus Dados</a>
        </li>

        <li style="margin: 1px 0; list-style: none">&nbsp;</li>

        <li>
          <a th:href="@{/inscricao-tipo-atividade?origem=participante}"
            ><i class="fas fa-clipboard-check"></i> Minhas Inscrições em Tipos
            de Atividades</a
          >
        </li>
      </ul>

      <form
        th:if="${session.usuarioLogado.pessoa.situacaoPessoa == 'A'}"
        th:action="@{/excluir-vinculos-instituicao}"
        method="post"
        onsubmit="return confirm('Tem certeza que deseja excluir permanentemente seu cadastro? Esta ação não poderá ser desfeita.');"
      >
        <button type="submit" class="perigo">Excluir Cadastro</button>
      </form>

      <p style="margin-top: 20px"><a href="/acesso/logout">Sair</a></p>
    </main>
  </body>
</html>
